version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      
  - package-ecosystem: "nuget"
    directory: "/src/PartsUnlimitedWebsite/"
    schedule:
      interval: "daily"
    allow:
    - dependency-type: all
  
  - package-ecosystem: "nuget"
    directory: "/MyPackages/SampleClassLib/SampleLib/"
    schedule:
      interval: "daily"
    ignore:
    - dependency-name: "bootstrap"
    - dependency-name: "FontAwesome"

