name: BUILD VALIDATION

on:
  pull_request:
    branches: [ master ]
    paths-ignore: 
      - MyPackages/**
      - .github/**
env:
  SLN_FILE: PartsUnlimited.sln

jobs:
  build:
    name: BUILD VALIDATE VS2019
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.2.0
      - name: Setup NuGet.exe
        uses: NuGet/setup-nuget@v1.0.2
      - name: Setup MSbuild
        uses: microsoft/setup-msbuild@v1
      - name: NuGet restore
        run: nuget restore
      - name: BuildApp
        run: |
          msbuild ${{env.SLN_FILE}} /p:TransformWebConfigEnabled=False /p:Configuration=Debug /p:Platform='Any CPU' /p:DeployOnBuild=False /p:PackageAsSingleFile=true
