name: End2End Workflow

# Prerequisities:
# -----------------
# Create Azure Web App (ASP.NET v4.7) and provide the publish profile in secrets with name WEB_APP_PUBLISH_PROFILE.
# Create SQL Server & DB on Azure and add the connection string on configuration section of Azure Web App.
# Name the connection string as DefaultConnectionString (Need not update in Web.config).
# Enable "Allow Azure services and resources to access this server" in Firewalls section of SQL Server.
# Add Application Settings on app service with same name in Web.config. Refer Web.config.
# Change the variable values in env section if required.

on:
  push:
    branches:
      - master
    paths-ignore:
      - MyPackages/**
      
env:
  SLN_FILE: PartsUnlimited.sln
  #Provide path of the site inside drop generated after build job as PACKAGE_TEMP_PATH
  PACKAGE_TEMP_PATH: Content\D_C\a\PartsUnlimited\PartsUnlimited\src\PartsUnlimitedWebsite\obj\Release\Package\PackageTmp
  WEB_APP_NAME: partsunlimitedgh

jobs:
  build:
    name: BUILD USING VS2019
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.2.0
      - name: Setup NuGet.exe
        uses: NuGet/setup-nuget@v1.0.2
      - name: Setup MSbuild
        uses: microsoft/setup-msbuild@v1
      - name: NuGet restore
        run: nuget restore
      - name: BuildApp
        run: |
          msbuild ${{env.SLN_FILE}} /p:TransformWebConfigEnabled=False /p:AutoParameterizationWebConfigConnectionStrings=False /p:Configuration=Release /p:Platform='Any CPU' /p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:PackageLocation="${{github.workspace}}\stagingdir"
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v2
        with:
          name: drop
          path: ${{github.workspace}}\stagingdir

  deploy:
    name: DEPLOY TO AZURE WEB APP
    runs-on: windows-latest
    needs: [build]
    steps:
      - name: Download Build Artifact
        uses: actions/download-artifact@v2
        with:
          name: drop
          path: ${{github.workspace}}
      - name: Extract Artifact
        run: expand-archive -path '*.zip' -destinationpath '.\webapp'
        shell: pwsh
      - name: Azure WebApp Deploy
        uses: Azure/webapps-deploy@v2
        with:
          app-name: ${{env.WEB_APP_NAME}}
          publish-profile: ${{secrets.WEB_APP_PUBLISH_PROFILE}}
          package: webapp\${{env.PACKAGE_TEMP_PATH}}
